<!DOCTYPE html>
<html>
  <head>
    <title>ENTER ARTICLE</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <div class="body">
    <body>
      <h1>Enter Your Favorite Articles!!!</h1>

  	    <form action="/articles/new" method="post">
  	      <label for="article">Title:</label>
  	      <input type="text" id="title" name="title">
  				<label for="article">URL:</label>
  	      <input type="url" id="url" name="url">
  				<label for="article">Description:</label>
  	      <input type="text" id="description" name="description">
  	      <input type="submit">
  	    </form>

      <a href = "/articles">
        <img id="button" src="http://www.kidshopeusa.org/uploadedImages/Library_Assets/Images/donate%20button.gif" style="width:130px;height:50px;">
      </a>
      <a href = "/articles">
        <img id="advertisement" src="http://main.makeuseoflimited.netdna-cdn.com/wp-content/uploads/2014/07/12-Fake-Oakley-Facebook.png?15f1a2">
      </a>

    </body>
  </div>
</html>
